# WhatsApp Gruppen-ID (finde sie mit: npm run list-groups)
WHATSAPP_GROUP_ID=123456789-1234567890@g.us

# Firebase Config
FIREBASE_PROJECT_ID=strategic-bus-gtgzl
FIREBASE_APP_ID=1:223160037293:web:05722321bf1f676a477b24
FIREBASE_API_KEY=AIzaSyAnnacfE_oBHBFAVytJfB2jjYyg883PpZ0
FIREBASE_AUTH_DOMAIN=strategic-bus-gtgzl.firebaseapp.com
FIREBASE_STORAGE_BUCKET=strategic-bus-gtgzl.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=223160037293

# Benachrichtigungszeit (Stunden von Mitternacht, z.B. 14 = 14:00 Uhr)
NOTIFICATION_HOUR=20

# Anzahl der Nachrichten pro Tag (z.B. 10 = eine Nachricht pro Stunde für 10 Stunden)
NOTIFICATIONS_PER_DAY=10
